/* reset css 重置 */
*,
*::before,
*::after{
      padding: 0;
      margin: 0;
      /* 让宽的设置从边框开始计算 在非固定的像素布局处理内容溢出 横向滚动 */
      box-sizing: border-box;
      /* 移动端的主流浏览器内核*/
      -webkit-box-sizing: border-box;
      /* 去除 触摸的时候颜色高亮完全透明 */
      -webkit-tap-highlight-color: transparent;
}
body{
    font-size: 14px;
    color: #333;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
input[type='search'],
input[type='text']{
    border: none;
    outline: none;
    /* 去除移动端输入框的立体效果 appearance 外貌 */
    -webkit-appearance: none;
}
/* common 公用 css */
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearfix::before,
.clearfix::after{
    content:"";
    clear: both;
    /* 不想占位置 块级元素 */
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.mr10{
    margin-left:10px;
}
.mr10{
    margin-right:10px;
}
.mr10{
    margin-top:10px;
}
.mr10{
    margin-bottom:10px;
}
/* 精灵图的使用 */
[class^="icon_"],[class*=" icon_"]{
    background: url("../images/sprites.png") no-repeat 0 0 / 200px 200px;
}




